#heading {
    color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: lightblue;
}

#opening {
    display: flex;
    justify-content: center;
    align-items: center;
    color: purple;
}

.start-btn {
    grid-column: span 2;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    padding: .5rem 1rem;
}